@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This project was executed by the student Dima Al-Hafez<br>
    under the supervision of Dr.Mohammed Aubeid.
    </p>
